/* ===== RESET GLOBAL MINIMO ===== */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background: #d9d9d9;
}

body {
  overflow-x: hidden;
}


:host{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cc-shell{
  flex: 1;
}

