html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background: #d8d8d8;
  color: #1a1a1a;

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* Evita que otros elementos hereden fuentes raras */
* {
  box-sizing: border-box;
}
