/* ================================
   ESTILOS GLOBALES DEL PROYECTO
   ================================ */

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background-color: #d8d8d8;
  color: #1a1a1a;
}

/* Box sizing global */
*,
*::before,
*::after {
  box-sizing: border-box;
}
